<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}global-client-page{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/global.css/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
<section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
  <div class="container">
    <div class="mb-12 text-center md:mb-18 lg:mb-20">
      <h2 class="mb-5 text-5xl font-bold md:mb-6 md:text-7xl lg:text-8xl">
        Add Gallery
      </h2>
      <p class="md:text-md">
        Upload your stunning images for this event package.
      </p>
    </div>
    <div
      class="grid grid-cols-2 items-start justify-center gap-6 md:gap-8 lg:grid-cols-4"
    >
    <div class="flex items-center justify-center w-full h-full">
        <label for="dropzone-file-1" class="flex flex-col items-center justify-center w-full h-full border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400 upload-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <svg class="w-8 h-8 mb-4 text-green-500 dark:text-green-400 tick-icon hidden" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 10 2 2 4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
          </div>
          <input id="dropzone-file-1" required type="file" class="hidden" name="photo-1"/>
        </label>
      </div>
      <div class="flex items-center justify-center w-full h-full">
        <label for="dropzone-file-2" class="flex flex-col items-center justify-center w-full h-full border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400 upload-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <svg class="w-8 h-8 mb-4 text-green-500 dark:text-green-400 tick-icon hidden" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 10 2 2 4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
          </div>
          <input id="dropzone-file-2" required type="file" class="hidden" name="photo-2"/>
        </label>
      </div>
      <div class="flex items-center justify-center w-full h-full">
        <label for="dropzone-file-3" class="flex flex-col items-center justify-center w-full h-full border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400 upload-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <svg class="w-8 h-8 mb-4 text-green-500 dark:text-green-400 tick-icon hidden" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 10 2 2 4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
          </div>
          <input id="dropzone-file-3" required type="file" class="hidden" name="photo-3"/>
        </label>
      </div>
      <div class="flex items-center justify-center w-full h-full">
        <label for="dropzone-file-4" class="flex flex-col items-center justify-center w-full h-full border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400 upload-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <svg class="w-8 h-8 mb-4 text-green-500 dark:text-green-400 tick-icon hidden" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 10 2 2 4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
          </div>
          <input id="dropzone-file-4" required type="file" class="hidden" name="photo-4"/>
        </label>
      </div>
      
    </div>
  </div>
</section>
<script>
    // Select all file inputs
    const fileInputs = document.querySelectorAll('input[type="file"]');
  
    fileInputs.forEach(input => {
      input.addEventListener('change', function () {
        const dropzone = this.closest('label');
        const uploadIcon = dropzone.querySelector('.upload-icon');
        const tickIcon = dropzone.querySelector('.tick-icon');
  
        if (this.files.length > 0) {
          uploadIcon.classList.add('hidden');
          tickIcon.classList.remove('hidden');
        }
      });
    });
  </script>

<section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
  <div class="container max-w-lg">
    <div class="mx-auto mb-8 w-full max-w-lg text-center md:mb-10 lg:mb-12">
      <h2 class="rb-5 mb-5 text-5xl font-bold md:mb-6 md:text-7xl lg:text-8xl">
        add new event
      </h2>
      <p class="md:text-md">We&#x27;re excited to help you plan your event!</p>
    </div>
    <div class="mx-auto grid w-50 max-w-md grid-cols-1 gap-6">
      <div class="grid w-full items-center">
        <label
          class="peer-disabled:cursor-not-allowed peer-disabled:opacity-70 mb-2"
          for="title" 
          >title</label
        >
        <div class="relative flex w-full items-center">
          <input
            type="text" required name="title"
            class="flex size-full min-h-11 border border-border-primary bg-background-primary py-2 align-middle file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-neutral focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50 px-3"
           
          />
        </div>
      </div>
      <div class="grid w-full items-center">
        <label
          class="peer-disabled:cursor-not-allowed peer-disabled:opacity-70 mb-2"
          for="message"
          >Details</label
        ><textarea
          class="flex w-full border border-border-primary bg-neutral-white p-3 placeholder:text-neutral focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50 min-h-[11.25rem] overflow-auto"
          id="message" required name="det"
          placeholder="Type event details..."
        ></textarea>
      </div>
     
      <div class="text-center">
        <button
          class="focus-visible:ring-border-primary inline-flex gap-3 items-center mt-3 justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-border-primary bg-background-alternative text-text-alternative px-6 py-3"
          title="Submit"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</section>
</form>
<section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
  <div
    class="container grid grid-cols-1 gap-y-12 md:grid-cols-2 md:gap-x-12 lg:grid-cols-[.75fr,1fr] lg:gap-x-20"
  >
    <h2 class="rb-5 mb-5 text-5xl font-bold md:mb-6 md:text-7xl lg:text-8xl">
      FAQs
    </h2>
    <p class="md:text-md">
      Get answers to your questions about adding event packages for a seamless
      experience.
    </p>
    <div class="mt-6 md:mt-8">
      <button
        class="focus-visible:ring-border-primary inline-flex gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-border-primary text-text-primary bg-background-primary px-6 py-3"
        title="Contact"
      >
        Contact
      </button>
    </div>
    <div
      class="grid items-start justify-stretch gap-4"
      data-orientation="vertical"
    >
      <div
        data-state="closed"
        data-orientation="vertical"
        class="first:border-t border border-border-primary px-5 md:px-6"
      >
        <h3 data-orientation="vertical" data-state="closed" class="flex w-full">
          <button
            type="button"
            aria-controls="radix-:R36:"
            aria-expanded="false"
            data-state="closed"
            data-orientation="vertical"
            id="radix-:R16:"
            class="flex flex-1 items-center justify-between py-4 font-bold transition-all focus-visible:outline-none focus-visible:ring-0 md:py-5 md:text-md [&amp;[data-state=open]&gt;svg]:rotate-45"
            data-radix-collection-item=""
          >
            How to add packages?<svg
              stroke="currentColor"
              fill="none"
              stroke-width="0"
              viewBox="0 0 15 15"
              class="size-7 shrink-0 text-text-primary transition-transform duration-300 md:size-8"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </h3>
        <div
          data-state="closed"
          id="radix-:R36:"
          hidden=""
          role="region"
          aria-labelledby="radix-:R16:"
          data-orientation="vertical"
          class="overflow-hidden data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
          style="--radix-accordion-content-height:var(--radix-collapsible-content-height);--radix-accordion-content-width:var(--radix-collapsible-content-width)"
        ></div>
      </div>
      <div
        data-state="closed"
        data-orientation="vertical"
        class="first:border-t border border-border-primary px-5 md:px-6"
      >
        <h3 data-orientation="vertical" data-state="closed" class="flex w-full">
          <button
            type="button"
            aria-controls="radix-:R3a:"
            aria-expanded="false"
            data-state="closed"
            data-orientation="vertical"
            id="radix-:R1a:"
            class="flex flex-1 items-center justify-between py-4 font-bold transition-all focus-visible:outline-none focus-visible:ring-0 md:py-5 md:text-md [&amp;[data-state=open]&gt;svg]:rotate-45"
            data-radix-collection-item=""
          >
            What are the guidelines?<svg
              stroke="currentColor"
              fill="none"
              stroke-width="0"
              viewBox="0 0 15 15"
              class="size-7 shrink-0 text-text-primary transition-transform duration-300 md:size-8"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </h3>
        <div
          data-state="closed"
          id="radix-:R3a:"
          hidden=""
          role="region"
          aria-labelledby="radix-:R1a:"
          data-orientation="vertical"
          class="overflow-hidden data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
          style="--radix-accordion-content-height:var(--radix-collapsible-content-height);--radix-accordion-content-width:var(--radix-collapsible-content-width)"
        ></div>
      </div>
      <div
        data-state="closed"
        data-orientation="vertical"
        class="first:border-t border border-border-primary px-5 md:px-6"
      >
        <h3 data-orientation="vertical" data-state="closed" class="flex w-full">
          <button
            type="button"
            aria-controls="radix-:R3e:"
            aria-expanded="false"
            data-state="closed"
            data-orientation="vertical"
            id="radix-:R1e:"
            class="flex flex-1 items-center justify-between py-4 font-bold transition-all focus-visible:outline-none focus-visible:ring-0 md:py-5 md:text-md [&amp;[data-state=open]&gt;svg]:rotate-45"
            data-radix-collection-item=""
          >
            Can I edit packages?<svg
              stroke="currentColor"
              fill="none"
              stroke-width="0"
              viewBox="0 0 15 15"
              class="size-7 shrink-0 text-text-primary transition-transform duration-300 md:size-8"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </h3>
        <div
          data-state="closed"
          id="radix-:R3e:"
          hidden=""
          role="region"
          aria-labelledby="radix-:R1e:"
          data-orientation="vertical"
          class="overflow-hidden data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
          style="--radix-accordion-content-height:var(--radix-collapsible-content-height);--radix-accordion-content-width:var(--radix-collapsible-content-width)"
        ></div>
      </div>
      <div
        data-state="closed"
        data-orientation="vertical"
        class="first:border-t border border-border-primary px-5 md:px-6"
      >
        <h3 data-orientation="vertical" data-state="closed" class="flex w-full">
          <button
            type="button"
            aria-controls="radix-:R3i:"
            aria-expanded="false"
            data-state="closed"
            data-orientation="vertical"
            id="radix-:R1i:"
            class="flex flex-1 items-center justify-between py-4 font-bold transition-all focus-visible:outline-none focus-visible:ring-0 md:py-5 md:text-md [&amp;[data-state=open]&gt;svg]:rotate-45"
            data-radix-collection-item=""
          >
            How long is approval?<svg
              stroke="currentColor"
              fill="none"
              stroke-width="0"
              viewBox="0 0 15 15"
              class="size-7 shrink-0 text-text-primary transition-transform duration-300 md:size-8"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </h3>
        <div
          data-state="closed"
          id="radix-:R3i:"
          hidden=""
          role="region"
          aria-labelledby="radix-:R1i:"
          data-orientation="vertical"
          class="overflow-hidden data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
          style="--radix-accordion-content-height:var(--radix-collapsible-content-height);--radix-accordion-content-width:var(--radix-collapsible-content-width)"
        ></div>
      </div>
      <div
        data-state="closed"
        data-orientation="vertical"
        class="first:border-t border border-border-primary px-5 md:px-6"
      >
        <h3 data-orientation="vertical" data-state="closed" class="flex w-full">
          <button
            type="button"
            aria-controls="radix-:R3m:"
            aria-expanded="false"
            data-state="closed"
            data-orientation="vertical"
            id="radix-:R1m:"
            class="flex flex-1 items-center justify-between py-4 font-bold transition-all focus-visible:outline-none focus-visible:ring-0 md:py-5 md:text-md [&amp;[data-state=open]&gt;svg]:rotate-45"
            data-radix-collection-item=""
          >
            What if I need help?<svg
              stroke="currentColor"
              fill="none"
              stroke-width="0"
              viewBox="0 0 15 15"
              class="size-7 shrink-0 text-text-primary transition-transform duration-300 md:size-8"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </h3>
        <div
          data-state="closed"
          id="radix-:R3m:"
          hidden=""
          role="region"
          aria-labelledby="radix-:R1m:"
          data-orientation="vertical"
          class="overflow-hidden data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
          style="--radix-accordion-content-height:var(--radix-collapsible-content-height);--radix-accordion-content-width:var(--radix-collapsible-content-width)"
        ></div>
      </div>
    </div>
  </div>
</section>

</body>
</html>